evaluating_models.ipynb
.idea
.xml
test.py
__pycache__/ModelingStocks.cpython-310.pyc
__pycache__/ModelingStocks.cpython-310.pyc.2151353136144
*.pyc
__pycache__/StockClasses.cpython-310.pyc.2028492404208
__pycache__/StockClasses.cpython-310.pyc.2073958921712
__pycache__/StockClasses.cpython-310.pyc.2540578043376
testing_stocks_cases.ipynb
